<!DOCTYPE html> 
<html lang="en">
	{% load static %}
<!-- doccure/checkout.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>SplashPaintZone</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="{%static "assets/img/favicon.png"%}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{%static "assets/css/bootstrap.min.css"%}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{%static "assets/plugins/fontawesome/css/fontawesome.min.css"%}">
		<link rel="stylesheet" href="{%static "assets/plugins/fontawesome/css/all.min.css"%}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{%static "assets/css/style.css"%}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar"style="background-color:#D81324;">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{%url 'users-home'%}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Booking</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Booking</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<div class="row">
						<div class="col-md-7 col-lg-8">
							<div class="card">
								<div class="card-body">
								
									<form method="post"enctype="multipart/form-data">
										{% csrf_token %}
										<div class="info-widget">

											<div id="error-message">
												{% if form.errors %}
												<ul class="errorlist">
													{% for field, errors in form.errors.items %}
													<b>{{ errors.0 }}</b>
													{% endfor %}
												</ul>
												{% endif %}
											</div>
											<h4 class="card-title">Please fill Information</h4>
											
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label for="{{ form.name.id_for_label }}">Name</label>
												{{ form.name }}
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label for="{{ form.address.id_for_label }}">Address</label>
												{{ form.address }}
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label for="{{ form.Alternative_mobile.id_for_label }}">Alternative Mobile</label>
												{{ form.Alternative_mobile }}
											</div>
										</div>
										<div class="col-md-6 col-sm-12">
											<div class="form-group card-label">
												<label for="{{ form.appointment_date.id_for_label }}">Appointment Date</label>
												{{ form.appointment_date }}
											</div>
										</div></div>
										<!-- Add other form fields here -->
									
									
										<div class="payment-widget">
											
											
											<!-- Submit Section -->
											<div class="submit-section mt-4">
												<button type="submit"style="background-color:#D81324;color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Book Now</button>
											</form> 
											</div>
											<!-- /Submit Section -->
											
										</div>
									</form>
									<!-- /Checkout Form -->
									
									
								</div>
							</div>
							
						</div>
						
						<div class="col-md-5 col-lg-4 theiaStickySidebar">
						
							<!-- Booking Summary -->
							<div class="card booking-card">
								<div class="card-header">
									<h4 class="card-title">Booking Summary</h4>
								</div>
								<div class="card-body">
								
									<!-- Booking Doctor Info -->
									<div class="booking-doc-info">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="{{ subsubcategory.image.url }}" alt="User Image">
										</a>
										<div class="booking-info">
											<h4><a href="doctor-profile.html">{{ subsubcategory.name }}</a></h4>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">35</span>
											</div>
											<div class="clinic-details">
												<i class="far fa-hourglass"></i>{{ subsubcategory.hours_taken}} Hours</i>
											</div>
										</div>
									</div>
									<!-- Booking Doctor Info -->
									
									<div class="booking-summary">
										<div class="booking-item-wrap">
											<ul class="booking-date">
												<li> <span>{{ subsubcategory.description }}</span></li>
												<br><br>
											</ul>
											
											<div class="booking-total">
												<ul class="booking-total-list">
													<li>
														<span>Total</span>
														<span class="total-cost"> {{ subsubcategory.price }}</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Booking Summary -->
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{%static "assets/js/jquery.min.js"%}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{%static "assets/js/popper.min.js"%}"></script>
		<script src="{%static "assets/js/bootstrap.min.js"%}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{%static "assets/plugins/theia-sticky-sidebar/ResizeSensor.js"%}"></script>
        <script src="{%static "assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"%}"></script>
		
		<!-- Custom JS -->
		<script src="{%static "assets/js/script.js"%}"></script>
		

		
	</body>

<!-- doccure/checkout.html  30 Nov 2019 04:12:16 GMT -->
</html>

{% comment %} {% extends 'vehicle/customerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
  <style media="screen">
    input[type=text], select,input[type=number] , textarea{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 300px;
    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
.main
{
    margin-left:100px;
}

.card {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
	margin-top:-50px;
    
  }
  .containercard
  {
    width: 45%;
  
      margin-left:300px;margin-right:50px; /*
  }
  </style>


</head>



<br><br><br><br><br>

<div class="container">
<div class="main">
   

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit"style="background-color:#D81324;color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Book Now</button>
    </form> </div>
    <div class="containercard">
    <div class="card" >
        <img src="{{ subsubcategory.image.url }}" class="card-img-top" alt="{{ subsubcategory.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ subsubcategory.name }}</h5>
            <p class="card-text">Price: Rs. {{ subsubcategory.price }}</p>
        </div>
    </div>
</div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %} {% endcomment %}





