<!DOCTYPE html>
<html lang="en">
<head>	{% load static %}   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>SPLASHPAINTZONE</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/feathericon.min.css' %}">
    
    <!-- Datatables CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
    <!--[if lt IE 9]>
        <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
        <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="breadcrumb-bar" style="background-color:#D81324 ;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{%url 'users-home'%}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{%url 'users-home'%}">Diagnostic Test</a></li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Scheduled Package</h2>
                </div>
            </div>
        </div>
    </div>	
</div> 
    <!-- Header -->
   <!-- Inside your HTML template 'select_car.html' -->
<div class="header">
    <div class="main" style="margin-left: 100px;">
        <section class="comp-section comp-cards">
            <div class="comp-header">
                <br><br><br><h3 class="comp-title">Select Your Model</h3>
                <div class="line"></div>
            </div>
            <div class="row">
                {% for car_model in car_models %}
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="card flex-fill" data-car-model-id="{{ car_model.id }}"data-toggle="modal" data-target="#carNamesModal-{{ car_model.id }}">
                        <img alt="Card Image" src="{{ car_model.image.url }}" class="card-img-top car-image" style="width: 100px; height: 100px;" >
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ car_model.name }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

<!-- Modal for Car Names -->

{% for car_model, car_names in car_names_by_model.items %}
<div class="modal fade" id="carNamesModal-{{ car_model.id }}" tabindex="-1" role="dialog" aria-labelledby="carNamesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carNamesModalLabel">Car Names for {{ car_model.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for car_name in car_names %}
                        <button type="button" class="btn btn-outline-primary" style="width: 100px;"data-toggle="modal" data-target="#cartypes">{{ car_name.name }}</button>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Modal for types -->
<div class="modal fade" id="cartypes" tabindex="-1" role="dialog" aria-labelledby="carTypesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carTypesModalLabel">Car Types</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="{% url 'book_service' subsubcategory.id %}" >
				{% for type in types %}
               
					{% comment %} <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0"> 
						<button type="button" class="btn btn-block btn-outline-primary"style="width: 100px;">{{ car_name.name }} </button>
					 </div> 
                     {{ car_name.name }} {% endcomment %}
					 {% comment %} <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <div class="card flex-fill"> {% endcomment %}
                            <!-- Image container with data-toggle and data-target attributes to trigger the modal -->
                            <img alt="Card Image" src="{{ type.image.url }}" class="card-img-top car-image" style="width: 50px; height: 50px;" data-toggle="modal" data-target="#carNamesModal">
                            <div class="card-header">
                              
                                <h5 class="card-title mb-0">{{ type.name }}</h5>
                            </div></a>
                        {% comment %} </div>
                    </div> {% endcomment %}
                    {% endfor %}
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script>
    var $j = jQuery.noConflict();
	var $i = jQuery.noConflict();
</script>
<!-- Bootstrap Core JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Slimscroll JS -->
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Datatables JS -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

<!-- Custom JS -->
<script src="{% static 'assets/js/script.js' %}"></script>
<script>
// Replace this
$i(".open-modal").click(function() {
    // Show the modal
    $("#cartypes").modal("show");
}); 

// With this
$j(".open-modal").click(function() {
    // Show the modal
    $j("#carNamesModal").modal("show");
});
</script>
</body>
</html>
