<!DOCTYPE html> 
<html lang="en">
	{% load static %}

<head>
		<meta charset="utf-8">
		<title>SPLASHPAINTZONE</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="{%static 'assets/img/favicon.png'%}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
		<link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/all.min.css'%}">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/bootstrap-datetimepicker.min.css '%}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{%static 'assets/plugins/select2/css/select2.min.css'%}">
		
		<!-- Fancybox CSS -->
		<link rel="stylesheet" href="{%static 'assets/plugins/fancybox/jquery.fancybox.min.css'%}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header --
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12 col-lg-4 col-xl-3">
						
							
							<!-- /Search Filter --> 
							{% for subcategory, subsubcategories in subcategories_with_subsubcategories.items %}
							<div class="breadcrumb-bar" style="background-color:#D81324;width:1500px;">
								<div class="container-fluid">
									<div class="row align-items-center">
										<div class="col-md-12 col-12">
											<nav aria-label="breadcrumb" class="page-breadcrumb">
												<ol class="breadcrumb">
													<li class="breadcrumb-item"><a href="{%url 'users-home'%}">Home</a></li>
													<li class="breadcrumb-item active" aria-current="page">{{subcategory.category}}</li>
												</ol>
											</nav>
											<h2 class="breadcrumb-title">{{subcategory}}</h2>
										</div>
									</div>
								</div>
							</div>	
						
					</div> 
						<div class="col-md-12 col-lg-8 col-xl-9"style="margin-top:60px;margin-left:50px;">
							
							<!-- Doctor Widget -->
							{% for subsubcategory in subsubcategories %}
                          {% comment %} {% if forloop.counter <= 2 and subsubcategory.front_side %} {% endcomment %}
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
									
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.html">
													
													<img src="{{ subsubcategory.image.url }}" class="img-fluid" alt="User Image"height="100%" width="100%">
												</a>
											</div>
											<div class="doc-info-cont">

												<h4 class="doc-name"><a href="doctor-profile.html">{{ subsubcategory.name }}</a></h4>
												<p class="doc-speciality">{{ subsubcategory.description }}</p>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="#"></i>100Km or 1 month Warranty</p>
													
												</div>
												<div class="clinic-services">
													<span>Coolant - Top up</span>
													<span> Multi-Layer Coating</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													{% comment %} <li><i class="far fa-thumbs-up"></i> 98%</li> {% endcomment %}
													<li><i class="far fa-hourglass"></i>{{ subsubcategory.hours_taken}} Hours/Days</li>
													 <li> </li> 
													<li><i class="far fa-money-bill-alt"></i> Rs- {{ subsubcategory.price}} </li>
												</ul>
											</div>
											<div class="clinic-booking">
												{% comment %} <a class="view-pro-btn" href="doctor-profile.html">View Profile</a> {% endcomment %}
												<a class="btn btn-block btn-outline-primary select-button" style="background-color:#D81324; border: 2px solid #D81324;"onclick="selectCarModel('{{ car_model.id }}')" href="{% url 'selectcar' subsubcategory_id=subsubcategory.id %}">Select Car</a> 
											</div>
										</div>
									</div>
								</div>
							</div>
							
							{% endfor %}	{% endfor %}
							<!-- /Doctor Widget -->
							{% comment %} {% for subsubcategory in subsubcategories %}
							 <!-- Doctor Widget -->
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.html">
													<img src="{{ subsubcategory.image.url }}" class="img-fluid" alt="User Image"height="100%" width="100%">
												</a>
											</div>
											<div class="doc-info-cont">
												<h4 class="doc-name"><a href="doctor-profile.html">{{ subsubcategory.name }}</a></h4>
												<p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
												<h5 class="doc-department"><img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">Dentist</h5>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(35)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork, USA</p>
													<ul class="clinic-gallery">
														<li>
															<a href="assets/img/features/feature-01.jpg" data-fancybox="gallery">
																<img src="assets/img/features/feature-01.jpg" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/img/features/feature-02.jpg" data-fancybox="gallery">
																<img  src="assets/img/features/feature-02.jpg" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/img/features/feature-03.jpg" data-fancybox="gallery">
																<img src="assets/img/features/feature-03.jpg" alt="Feature">
															</a>
														</li>
														<li>
															<a href="assets/img/features/feature-04.jpg" data-fancybox="gallery">
																<img src="assets/img/features/feature-04.jpg" alt="Feature">
															</a>
														</li>
													</ul>
												</div>
												<div class="clinic-services">
													<span>Dental Fillings</span>
													<span> Whitneing</span>
												</div>
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													<li><i class="far fa-thumbs-up"></i> 100%</li>
													<li><i class="far fa-comment"></i> 35 Feedback</li>
													<li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
													<li><i class="far fa-money-bill-alt"></i> $50 - $300 <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
												</ul>
											</div>
											<div class="clinic-booking">
												<a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
												<a class="apt-btn" href="booking.html">Book Appointment</a>
											</div>
										</div>
									</div>
								</div>
							</div>{% endfor %} {% endcomment %}
							<!-- /Doctor Widget -->

							

						 {% comment %} <div class="load-more text-center" >
								<a class="btn btn-primary btn-sm" style="background-color:#D81324; border: 2px solid #D81324;" href="javascript:void(0);">Load More</a>	
							</div>	 {% endcomment %}
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   

		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{%static 'assets/js/jquery.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{%static 'assets/js/popper.min.js'%}"></script>
		<script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{%static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js'%}"></script>
        <script src="{%static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js'%}"></script>
		
		<!-- Select2 JS -->
		<script src="{%static 'assets/plugins/select2/js/select2.min.js'%}"></script>
		
		<!-- Datetimepicker JS -->
		<script src="{%static 'assets/js/moment.min.js'%}"></script>
		<script src="{%static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>
		
		<!-- Fancybox JS -->
		<script src="{%static 'assets/plugins/fancybox/jquery.fancybox.min.js'%}"></script>
		
		<!-- Custom JS -->
		<script src="{%static 'assets/js/script.js'%}"></script>
		
	</body>

<!-- doccure/search.html  30 Nov 2019 04:12:16 GMT -->
</html>