{% extends 'vehicle/adminbase.html' %}
{% block content %}

	<!-- main content -->
	<title>Booking Details</title>

    <!-- Include DataTables Library -->
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.10/css/jquery.dataTables.min.css">

    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.min.js"></script>
<style>
	.container {
		display: flex;
		justify-content: space-between;
	margin-left:250px;}
</style>
</head>
<body>
    <h1>Booking Details</h1>
	<div class="container">
    <table id="booking-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Appointment Date</th>
                <th>Address</th>
                <th>Alternative Mobile</th>
                <th>Selected Subsubcategory</th>
                <th>Selected Service Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
			{% for booking in booking %}
            <tr>
                <td>{{ booking.name }}</td>
                <td>{{ booking.appointment_date }}</td>
                <td>{{ booking.address }}</td>
                <td>{{ booking.Alternative_mobile }}</td>
                <td>{{ booking.selected_subsubcategory }}</td>
                <td>{{ booking.selected_service_price }}</td>
                <td>{{ booking.status }}</td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</div>
    <!-- Initialize DataTable -->
    <script>
        $(document).ready(function() {
            $('#booking-table').DataTable();
        });
    </script>

</body>
</html>
{% endblock content %}
