{% extends 'vehicle/customerbase.html' %}
{% block content %}

	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Pending Bookings & Delete
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                <tr>
					{% comment %} <th>Name</th> {% endcomment %}
                    <th>Appointment Date</th>
                    <th>Address</th>
                    <th>Alternative Mobile</th>
                    <th>Selected Subsubcategory</th>
                    <th>Selected Service Price</th>
                  <th>Status</th>
								  <th>Delete Enquiry</th>
                </tr>
							</thead>
							<tbody>
                {% for book in booking %}
                <tr>
                  {% comment %} <td>{{book.name}}</td> {% endcomment %}
                  <td>{{book.appointment_date }}</td>
                  <td>{{book.address}}</td>
                  <td>{{book.Alternative_mobile}}</td>
                  <td>{{book.selected_subsubcategory}}</td>
				  <td>{{book.selected_service_price}}</td>
                  <td>{{book.status}}</td>
                  <td><a style="color:blue; text-decoration:none;font-size:25px;"href="{% url 'customer-delete-request' book.id  %}">&#10008;</a></td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
