{% extends 'vehicle/mechanicbase.html' %}
{% block content %}
{% load static %}
	<!-- main content -->
	<div class="wrapper">

<!-- ****** table  start ********** -->
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 style="color:red; text-align:center" >Vehicles To Repair & Update Status
						</h3>

					</div>
					<div class="card-content">
						<table>
							<thead>
                <tr>
                  <th>Name</th>
                  <th>Appointment Date</th>
                  <th>Selected Subsubcategory</th>
                  <th>Status</th>
                  <th>Update Status</th>
                </tr>
							</thead>
							<tbody>
              {% for w in works %}
                <tr>
                  <td> {{w.name}}</td>
                  <td> {{w.appointment_date}}</td>
                  <td> {{w.selected_subsubcategory}}</td>
                  <td>{{w.status}}</td>
                  <td><a  style="color:blue; text-decoration:none;font-size:25px;" href="{% url 'mechanic-update-status' w.id  %}">&#9998;</a></td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
